:root {
	--snowfall-blue: #22283b;
}

body {
	font-family: 'Montserrat';
	background: #f1f1f1;
}
p,
label {
	font-family: 'Montserrat';
}
.container {
	max-width: 90%;
	align-items: center;
	margin: 0 auto;
	/* justify-content: center; */
}

.clearfix {
	*zoom: 1; /* for IE */
}

.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

button {
	font-family: 'Montserrat';
	font-size: 14px;
	color: white;
	background: var(--snowfall-blue);
	border: none;
	border-radius: 0.65rem;
	padding: 0.75rem 1.5rem;
}

button:disabled {
	background: #c7c7c7;
	color: #ffffff;
	pointer-events: none;
}

button:hover {
	background-color: #151823;
	cursor: pointer;
	font-weight: 700;
}

button.cancel-button {
	background: transparent;
	border: 0.5px solid #c3c3c3;
	border-radius: 8px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
